<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePersistenceIgnoreState</key>
	<true/>
	<key>BuildSerialNumber</key>
	<integer>5965</integer>
	<key>archiveFolderNameFormat</key>
	<string>%F (%B %d) %H-%M-%S</string>
	<key>autoArchiveRecoveryHD</key>
	<true/>
	<key>autoEnableSnapshots</key>
	<true/>
	<key>bandwidthLimit</key>
	<integer>0</integer>
	<key>compressDmg</key>
	<false/>
	<key>debugLevel</key>
	<integer>0</integer>
	<key>dontShowTargetRootWarning</key>
	<false/>
	<key>dontWarnRecHDMissing</key>
	<false/>
	<key>flashMenubarIcon</key>
	<false/>
	<key>hideUserAgentInMenuBar</key>
	<false/>
	<key>ignoredUpgradeVersion</key>
	<integer>0</integer>
	<key>imposeBWLimit</key>
	<false/>
	<key>imposeGlobalBWLimit</key>
	<false/>
	<key>itemsWithSpecialRequirements</key>
	<array>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.AppleDouble</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>@eaDir</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.AppleDB</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.afpDeleted*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.SynologyWorkingDirectory</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.DocumentRevisions-V100*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.HFS+ Private Directory Data*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.MobileBackups</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.MobileBackups.trash</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>Library/Mobile Documents.*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.Spotlight-V100</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.VolumeIcon.icns</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.bzvol</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/Application Support/Cylance/Desktop/q</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.com.apple.NetBootX</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/LaunchDaemons/com.cylance.agent_service.plist</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/LaunchDaemons/com.trendmicro*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Applications/TrendMicroSecurity.app</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/Application Support/TrendMicro</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.com.apple.timemachine.donotpresent</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.fseventsd</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.hotfiles.btree</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.journal</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.journal_info_block</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.metadata_never_index</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.metadata_never_index_unless_rootfs</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.webtmp</string>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/Applications</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>Backups.backupdb</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/Library</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/Caches/CrashPlan</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/NetBoot/.clients</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/NetBoot/.sharepoint</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Library/Application Support/Comodo/Antivirus/Quarantine</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransferWhenSourceIsRoot</key>
			<true/>
			<key>excludeRule</key>
			<string>/Network</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>Network Trash Folder</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/PGPWDE01</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/PGPWDE02</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/System</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/System/Library/CoreServices/.disk_label*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/System/Library/Caches/com.apple.bootstamps</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/System/Library/Caches/com.apple.corestorage</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/System/Library/Caches/com.apple.coresymbolicationd</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>TheVolumeSettingsFolder</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/Volumes</string>
			<key>hideOnDestination</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/automount</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/bin</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/cores</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletion</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/dev</string>
			<key>hideOnDestination</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/etc</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/home</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/lost+found</string>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/mach</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/mach.sym</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/mach_kernel</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransferWhenSourceIsRoot</key>
			<true/>
			<key>excludeRule</key>
			<string>/net</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/opt</string>
			<key>hideOnDestination</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/private</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/tmp/*</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/tmp/kacta.txt</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/tmp/kactd.txt</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/db/dyld/dyld_*</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/audit/*.crash_recovery</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/audit/current</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/vm/*</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/db/com.apple.backupd.backupVerification</string>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/sbin</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/tmp</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/usr</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeRule</key>
			<string>/var</string>
			<key>hideOnDestination</key>
			<true/>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
			<key>systemItem</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/db/systemstats</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/spool/qmaster</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>Library/Preferences/ByHost/com.apple.loginwindow*</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>$Recycle.Bin</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>@Recycle</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.Transporter Library</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.quota.group</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.quota.user</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.TemporaryItems</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.PKInstallSandboxManager</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.PKInstallSandboxManager-SystemSoftware</string>
			<key>protectFromDeletionOnStartupDisk</key>
			<true/>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.cleverfiles</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/macOS Install Data</string>
		</dict>
		<dict>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.dropbox.cache</string>
			<key>ext_documentation</key>
			<string>https://www.dropbox.com/help/desktop-web/cache-folder</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>This is an Acronis True Image metadata file. It's a sparse file, so it's awkard to copy it to a non-APFS destination.</string>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/db/atpstatdb*</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Apple's caches in the home folder are increasingly leading to high CPU usage and hangs during copying.</string>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/Users/*/Library/Caches/com.apple.bird</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>comment</key>
			<string>The Secure Access Token is volume-specific. It should never be copied from one volume to another, nor should it be deleted from a volume.</string>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/private/var/db/dslocal/nodes/Default/secureaccesstoken.plist</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>comment</key>
			<string>This token file is volume-specific. It should never be copied from one volume to another, nor should it be deleted from a volume.</string>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>/.com.prosofteng.DrivePulse.ignore</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>comment</key>
			<string>We have received several reports that enumerating the contents of this Photos Library folder causes lengthy delays.</string>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>com.apple.photolibraryd/tmpoutboundsharing</string>
			<key>protectFromDeletion</key>
			<true/>
		</dict>
		<dict>
			<key>comment</key>
			<string>This is garbage content in the Photos Library added by QNAP's Multimedia Library service. The folder name is reserved on QNAP, so if you copy a Photos Library back and forth, you'll get errors.</string>
			<key>excludeFromTransfer</key>
			<true/>
			<key>excludeRule</key>
			<string>.@__thumb</string>
		</dict>
	</array>
	<key>neverIssueDestructiveTaskWarning</key>
	<false/>
	<key>nonAtomicTransfer</key>
	<false/>
	<key>rsyncTimeout</key>
	<integer>600</integer>
	<key>segmentDmg</key>
	<false/>
	<key>segmentSize</key>
	<integer>650</integer>
	<key>showDestNoticesBeforeClone</key>
	<true/>
	<key>showDetailedTransferStats</key>
	<false/>
	<key>sidebarIsHidden</key>
	<true/>
	<key>skipMissedTasksOnWake</key>
	<false/>
	<key>skipTasksMissedOnBattery</key>
	<false/>
	<key>sshPort</key>
	<string>22</string>
	<key>startScheduledTasksOnACOnly</key>
	<true/>
	<key>suppressNobrowseOption</key>
	<false/>
	<key>userHasCustomGlobalFilters</key>
	<false/>
	<key>verboseNotifications</key>
	<true/>
	<key>wakeForScheduledTasks</key>
	<true/>
</dict>
</plist>
