<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>ApplicationDescription</string>
	<key>DeveloperName</key>
	<string>Bombich Software, Inc.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>bombich.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>MainWebsite</string>
			<key>DenyConsequences</key>
			<string>MainWebsiteDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>help.bombich.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>OnlineHelpSupport</string>
			<key>DenyConsequences</key>
			<string>OnlineHelpSupportDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>mc.bombich.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>LicenseRetrieval</string>
			<key>DenyConsequences</key>
			<string>LicenseRetrievalDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.paddleapi.com, *.paddle.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>StatsSupport</string>
			<key>DenyConsequences</key>
			<string>StatSupportDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>carboncopycloner.zendesk.com, mew.bombich.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>TicketSupport</string>
			<key>DenyConsequences</key>
			<string>TicketSupportDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>update.bombich.com, 70dd08a0984b0022574d-8064f6cbda3d6f2abd1c53b8bc16b17e.ssl.cf5.rackcdn.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>SoftwareUpdate</string>
			<key>DenyConsequences</key>
			<string>SoftwareUpdateDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>sites.fastspring.com, *.cloudfront.net, code.jquery.com, sealinfo.websecurity.norton.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>PurchaseSupport</string>
			<key>DenyConsequences</key>
			<string>PurchaseSupportDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.googleapis.com, maxcdn.bootstrapcdn.com, cc.cdn.civiccomputing.com, fonts.gstatic.com, bombich.scdn1.secure.raxcdn.com, bam.nr-data.net, youtube-nocookie.com, s.ytimg.com, apikeys.civiccomputing.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>DocumentationResources</string>
			<key>DenyConsequences</key>
			<string>DocumentationResourcesDenied</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.google-analytics.com, js-agent.newrelic.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Purpose</key>
			<string>DocumentationAnalytics</string>
			<key>DenyConsequences</key>
			<string>DocumentationAnalyticsDenied</string>
		</dict>
	</array>
</dict>
</plist>
