<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19D76</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>ccc-task-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>CCC Task Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bombich.ccc.taskconfiguration</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Carbon Copy Cloner</string>
	<key>CFBundleGetInfoString</key>
	<string>Carbon Copy Cloner version 5.1.16, Copyright 2002-2020 Bombich Software, Inc.</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIconName</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.bombich.ccc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Carbon Copy Cloner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.16</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bombich.ccc.lic</string>
				<string>com.bombich.ccc5.task.open</string>
				<string>com.bombich.ccc5.task.history</string>
				<string>com.bombich.ccc5.task.pwdr</string>
				<string>com.bombich.ccc5.support</string>
				<string>com.bombich.ccc5.update</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5965</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11C504</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B90</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C504</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cloudfront.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSCalendarsUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSContactsUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2002-2020 Bombich Software, Inc.</string>
	<key>NSLocationUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemindersUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>privacy_intent_string</string>
	<key>PrivilegedHelperToolVersion</key>
	<integer>861</integer>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.bombich.ccchelper</key>
		<string>certificate root = H"611e5b662c593a08ff58d14ae22452d198df6c60" and certificate leaf[subject.O] = "Bombich Software"* and identifier "com.bombich.ccchelper"</string>
	</dict>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://update.bombich.com/software/updates/ccc.php</string>
	<key>SUOverwriteCurrentApp</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CCC Task Configuration</string>
			<key>UTTypeIconFile</key>
			<string></string>
			<key>UTTypeIdentifier</key>
			<string>com.bombich.ccc.taskconfiguration</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ccctask</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.unix-executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CCC Privileged Helper Tool</string>
			<key>UTTypeIconFile</key>
			<string>icon</string>
			<key>UTTypeIdentifier</key>
			<string>com.bombich.ccchelper</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ccchelper</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
