div.code-editor { max-height: 70vh; }

div.label-box {
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
}

.form-control { border-radius: 0 !important; }

.form-control:disabled { background-color: #ffffff !important; }

.output {
    border-bottom-left-radius: .5rem!important;
    border-bottom-right-radius: .5rem!important;
}

.btn-beautify {
    color: #ffffff;
    background-color: #088ed4;
}

select.languages-select {
    cursor: pointer;
}

select.languages-select > option {
    display: block;
    background: ghostwhite;
}

select.languages-select:focus > option:checked { 
    font-weight: bold;
}

.container {
    margin-top: 20px;
}